extends layout

block content
  h1= title
  .container
    if allUsers
      each user, i in allUsers
        .col-md-3.border
          a.thumbnail(href='#')
            img(src='#', alt='#') 
          .col-centered
            h4
              a(href='/users/show/#{user.id}') #{allUsers[i].name}
               



