extends layout

block content
  h1= title
  .row.container.center-block
    each user in users    
      .col-md-3.text-center
        img.img-rounded(src= "uploads/#{user.profilepicture}", height='100', width='100')
        a(href="/users/show/#{user._id}") 
          p.text-center #{user.name}
