extends layout

block content
  h1= title

  .row.container
      .col-md-6
        form(method='POST', action='/users/login')
          .form-group
            label Username:
            input.form-control(name='username', type='text', placeholder='Username...', aria-describedby='basic-addon1')
          .form-group
            label Password:
            input.form-control(name='password', type='password', placeholder='Password...', aria-describedby='basic-addon1')
          button.btn.btn-primary(name='login', type='submit') Login
      .col-md-4.well.pull-right(role='alert', row='20')
        p Don't have a username?
        a(href='/users/register') Register!
