ul.success li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.error li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
 	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}
.clr{
    clear: both;
}

.centering {
  float:none;
  margin:5 auto;
}

.note-btn {
    width:100%;
    margin-bottom : 20px;
}


.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}

.scroll{
    max-height: 300px;
    min-height: 200px;
    overflow-y:scroll;
    width:100%;
}
.panel-title{
    float:none;
    padding-top: 6px;
}

#note-body{
    height: 300px;
}