ul.success li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.error li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
 	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}
.clr{
    clear: both;
}

.centering {
  float:none;
  margin:5 auto;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.note-btn {
    width:100%;
    margin-bottom : 20px;
}


.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}
#panel-content{
    width:90%;
    margin:40px;
}

#comment-scroll{
    max-height: 200px;
    min-height: 50px;
    overflow-y:scroll;
    width:100%;
}
#comment-area{
    margin:10px;
}
#comment-date{
    margin-top:5px;
    margin-right:5px;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

.scroll{
    max-height: 300px;
    min-height: 200px;
    overflow-y:scroll;
    width:100%;
}
.panel-title{
    float:none;
    padding-top: 6px;
}
#center-text{
    margin-top:10px;
    margin-right:5px;
}
#note-body{
    height: 300px;
}
.note-image{
    height:500px;
    width: 500px;
}
